.nav-bar {
    background-color: #42b983 !important;
}

.van-nav-bar__left {
    .van-icon {

        color: #fff !important;
    }
}

.van-nav-bar__title {
    color: #fff !important;
}

.van-nav-bar__text {
    color: #fff !important;
}

.van-tabs__line {
    background-color: #42b983 !important;
    ;

}

.van-collapse-item__content {
    padding: 0 16px !important;
}

.van-sidebar-item {
    background-color: #fff !important;
}

.van-sidebar-item--select::before {
    background-color: #42b983 !important;
}

.van-cell .van-cell--clickable .van-collapse-item__title {
    .van-icon {
        color: darkgray !important;
    }
}


.cnt{
    background-color: #faf6f6;
    padding-bottom: 10px;
}

.navbar-palceholder{
    height: 46px;
}

.tabbar-placeholder{
    height: 50px;
}
.column2-row {
    width: calc(100% - 20px);
    // background-color: red;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column2-row-item {
    // background-color: aqua;
    width: calc(50% - 40px);
    padding: 20px;
    font-size: 14px;
}

.column2-row-item-name {
    display: block;
    margin: 0 auto;
}

.column2-row-item-tip {
    display: block;
    margin: 0 auto;
}

.column2-row-item-tip-item {
    padding: 2px;
}

.check-list-item {
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
}

.check-list-cnt {
    flex: 1;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.check-list-cnt-title {
    flex: 1;
}

.check-list-cnt-other {
    display: flex;
    align-items: flex-start;
    justify-content: space-between !important;
}

.settlement-bar{
    width: calc(100% - 20px);
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    font-size: 14px;
    .van-checkbox__label{
      font-size: 14px;
    }
  }

.settlement-bar-cnt{
    flex:1;
    margin-right: 20px;
    text-align: right;
  }

.settlement-bar-order{
    width: calc(100% - 20px);
    height: 50px;
    padding: 0 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    font-size: 14px;
  }

.btn{
    width: 100px;
    height: 35px !important;
    border-radius: 10px !important;
    margin-right: 10px !important;
}

.one-btn{
    width: calc(100% - 40px);
    margin-top: 10px !important;
    border-radius: 25px !important;
  }

.order-list-item{
    margin: 10px 10px 10px 10px;
    width: calc(100% - 20px);
    background-color: #ffff;
    box-shadow: 1px 1px 3px grey;
    border-radius: 10px;
  }
  .order-list-item-head{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid lightgray;
    font-size: 12px;
    text-align: left;
  }
  
  .order-list-item-body{
    display: flex;
    padding: 5px 10px 5px 0;
  }

  .order-list-item-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid lightgray;
  }