.nav-bar {
    background-color: #42b983 !important;
}
.van-icon{
    
    color: #fff !important;
}
.van-nav-bar__title{
    color: #fff !important;
}
.van-nav-bar__text{
    color: #fff !important;
}
.van-tabs__line{
    background-color: #42b983 !important;;

}
